#btnsCont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 50dvh;
  height: 62dvh;
  /* padding:2.5dvh; */
  border-radius: 1.6dvh;
  margin-top: 1dvh;
  background-color: #ffa2a2ba;
  color: rgb(201, 155, 237);
}

#utilCont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 50dvh;
  height: 12dvh;
  border-radius: 1.6dvh;
  margin-top: 0dvh;
  background-color: #fdd964;
  color: rgb(201, 155, 237);
  box-shadow: inset .5dvh .5dvh .5dvh #c08517; 
}

.innBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1.6dvh;
  color: darkslateblue;
  background-color: #98e2c6;
  font-size: 4dvh;
  width: 10dvh;
  height: 10dvh;
  cursor: pointer;
  transition: all 0.3s;
  margin: 1.2dvh;
  margin-top: .4dvh;
  box-shadow: .1dvh .8dvh .1dvh rgba(133, 196, 171, .8);
}

.innBtns:hover {
  background-color: #66e1b2;
  color: #fff;
  box-shadow: .1dvh .8dvh .1dvh rgba(133, 196, 171, 1); 
}

.innBtns:active {
  margin-top: 1.2dvh;
  margin-bottom:.4dvh;
  box-shadow: inset .2dvh .2dvh .2dvh rgb(78, 171, 135); 
}

.utilInnBtns {
  margin-top: .4dvh;
  box-shadow: .1dvh .8dvh .1dvh rgba(133, 196, 171, .8); 
}

.utilInnBtns:hover {
  color: #fff;
  box-shadow: .1dvh .8dvh .1dvh rgba(133, 196, 171, 1); 
}

.utilInnBtns:active {
  margin-top: 1.2dvh;
  box-shadow: inset .2dvh .2dvh .2dvh rgb(78, 171, 135); 
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1.6dvh;
  color: darkslateblue;
  font-size: 4dvh;
  width: 8dvh;
  height: 8dvh;
  cursor: pointer;
  transition: all 0.3s;
  margin: 0dvh;
  padding:1dvh;
}

.icons:hover {
  /* background-color: #ffabab; */
  color: #fff;
}

#clearIcon {
  height: 7dvh;
  width: 7dvh;
}
