#display{
    display: flex;
    flex-direction: column;
    align-items: end;
    /* justify-content: space-between; */
    background-color: #AB92BF;
    width: 50dvh;
    height: 12vh;
    border-radius: 1.6dvh;
    cursor:grab;
    margin-bottom: 1dvh;   
  }
  
  .displayP{
    display: flex;
    min-height: 4dvh;
    min-width: 48dvh;
    max-width: 48dvh;
    max-height: 4dvh;
    margin: 1dvh 1dvh;
    color: darkslateblue;
    align-items: center;
    justify-content: flex-end;
    font-size: 4dvh;
  }