#display{
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: rgba(133, 95, 147, 1);;
    width: 50dvh;
    height: 12vh;
    border-radius: 1.6dvh;
    cursor:grab;
    transition: all 0.3s;
    margin-bottom: 1dvh;
    box-shadow: .15dvh .5dvh 0.1dvh rgb(186, 121, 208),
    inset 0.08dvh .095dvh 0dvh rgba(237, 213, 255,1),
    inset -.08dvh 0dvh 0dvh rgba(237, 213, 255,1);
    position: relative;   
  }

  #display:hover{
    background-color: rgb(155, 112, 171);
    box-shadow: .15dvh .5dvh 0.1dvh rgb(245, 214, 252),
    inset 0.08dvh .095dvh 0dvh rgba(237, 213, 255,1),
    inset -.08dvh 0dvh 0dvh rgba(237, 213, 255,1),
  }
  
  .displayP{
    display: flex;
    min-height: 4dvh;
    min-width: 48dvh;
    max-width: 48dvh;
    max-height: 4dvh;
    margin: .6dvh 1dvh;
    transition: all 0.3s;
    color: rgb(199, 144, 217);
    align-items: center;
    justify-content: flex-end;
    font-size: 4dvh;
    overflow: hidden;
  }

  .displayP:hover{
    color: rgb(254, 199, 242);
  }

  #copiedText{
    color: orange;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 1dvh 2dvh ;
    border-radius: 1.6dvh;
    left: 55dvh;
    top:0dvh ;
    font-size: 2.5dvh ;
    min-width: 14dvh;
    opacity: 0;
    transition: all 0.3s;
    
  }
  #copiedText.visible{
    animation: slideInOut 2s ease-in-out;
  }

  @keyframes slideInOut {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    20%, 80% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }