/* Theme 2 */
.pokeTheme#calcContainer {
  background-color: rgb(229, 2, 2);
  box-shadow: 0.2dvh 0.9dvh 0.1dvh rgb(133, 0, 0),
    inset 0.2dvh 0.15dvh 0.1dvh rgb(255, 173, 173);
}

.pokeTheme #display {
  background-color: black;
  box-shadow: 0.15dvh 0.5dvh 0.1dvh rgb(239, 236, 254),
    inset 0.08dvh 0.095dvh 0dvh rgb(216, 213, 255),
    inset -0.08dvh 0dvh 0dvh rgb(221, 213, 255);
}

.pokeTheme #display:hover {
  background-color: rgb(3, 36, 85);
  box-shadow: 0.15dvh 0.5dvh 0.1dvh rgb(245, 214, 252);
}

.pokeTheme .displayP {
  color: rgb(255, 255, 255);
}

.pokeTheme .displayP:hover {
  color: rgb(234, 226, 226);
}

.pokeTheme #btnsCont {
  background-color: #ea1912;
  color: rgb(252, 253, 231);
  box-shadow: 0.08dvh 0.8dvh 0.1dvh rgba(224, 129, 129, 0.995),
    inset 0.1dvh 0.1dvh 0.1dvh rgba(229, 140, 140, 0.995);
}

.pokeTheme #utilCont {
  background-color: #ffeb0d;
  box-shadow: inset 0.3dvh 0.4dvh 0.3dvh rgb(151, 144, 12);
}

.pokeTheme .innBtns {
  color: rgb(255, 255, 255);
  background-color: rgba(5, 101, 213, 1);
  box-shadow: 0.15dvh 0.8dvh 0.1dvh rgb(0, 6, 76);
}

.pokeTheme .innBtns:hover {
  background-color: rgb(0, 14, 170);
  color: #fff;
  box-shadow: 0.15dvh 0.8dvh 0.1dvh rgb(32, 51, 255);
}

.pokeTheme .innBtns:active {
  box-shadow: inset 0.2dvh 0.2dvh 0.2dvh rgba(14, 34, 255, 0.973);
}

.pokeTheme .utilInnBtns {
  background-color: #73c42e;
  box-shadow: 0.15dvh 0.8dvh 0.1dvh #03a800;
}

.pokeTheme .utilInnBtns:hover {
  background-color: #00d4a2;
  color: #fff;
  box-shadow: 0.15dvh 0.8dvh 0.1dvh #007358;
}

.pokeTheme .utilInnBtns:active {
  margin-top: 1.2dvh;
  box-shadow: inset 0.2dvh 0.2dvh 0.2dvh rgba(54, 132, 101, 0.973);
}

.pokeTheme .icons {
  color: darkslateblue;
}
.pokeTheme .icons:hover {
  color: #fff;
}

/* Theme 3 */

.bluish#calcContainer {
  background-color: #4059ad;
  box-shadow: 0.2dvh 0.9dvh 0.1dvh #1d2e65,
    inset 0.2dvh 0.15dvh 0.1dvh rgb(173, 244, 255);
}

.bluish #display {
  background-color: #171219;
  box-shadow: 0.15dvh 0.5dvh 0.1dvh rgb(239, 236, 254),
    inset 0.08dvh 0.095dvh 0dvh rgb(216, 213, 255),
    inset -0.08dvh 0dvh 0dvh rgb(221, 213, 255);
}

.bluish #display:hover {
  background-color: #231b27;
  box-shadow: 0.15dvh 0.5dvh 0.1dvh rgb(245, 214, 252),
    inset 0.08dvh 0.095dvh 0dvh rgb(111, 90, 150),
    inset -0.08dvh 0dvh 0dvh rgb(132, 96, 164);
}

.bluish .displayP {
  color: rgb(197, 167, 209);
}

.bluish .displayP:hover {
  color: rgb(162, 113, 190);
}

.bluish #btnsCont {
  background-color: #bfdbf7;
  box-shadow: 0.08dvh 0.8dvh 0.1dvh #00a4e5,
    inset 0.1dvh 0.1dvh 0.1dvh rgba(223, 254, 255, 0.995);
}

.bluish #utilCont {
  background-color: #ee4266;
  color: #ee4266;
  box-shadow: inset 0.3dvh 0.4dvh 0.3dvh #81041f;
}

.bluish .innBtns {
  color: #171219;
  background-color: #e7f9a9;
  box-shadow: 0.15dvh 0.8dvh 0.1dvh #9aba26;
}

.bluish .innBtns:hover {
  background-color: #a4bd49;
  color: #c43b00;
  box-shadow: 0.15dvh 0.8dvh 0.1dvh #4c5f08;
}

.bluish .innBtns:active {
  box-shadow: inset 0.2dvh 0.2dvh 0.2dvh rgba(54, 132, 101, 0.973);
}

.bluish .utilInnBtns {
  background-color: #ff9b42;
  box-shadow: 0.15dvh 0.8dvh 0.1dvh #944704;
}

.bluish .utilInnBtns:hover {
  background-color: #ff7700;
  color: #fff;
  box-shadow: 0.15dvh 0.8dvh 0.1dvh #5b2b00;
}

.bluish .utilInnBtns:active {
  margin-top: 1.2dvh;
  box-shadow: inset 0.2dvh 0.2dvh 0.2dvh rgba(155, 113, 58, 0.973);
}

.bluish .icons {
  color: darkslateblue;
}
.bluish .icons:hover {
  color: #fff;
}
