#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#mainContainer {
  margin: 10dvh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  background-color: #D8B4F8;
  width: 51dvh;
  height: 65dvh;
  padding:1dvh;
  border-radius: 1.6dvh;
}




