
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  background-color: #242424;  
  
}


#calcContainer {
  margin: 1dvh auto auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #fa9647; */
  background-color: rgba(101, 207, 166, 1);
  width: 51dvh;
  height: 88dvh;
  padding:1dvh;
  border-radius: 1.6dvh;
  box-shadow : 0.2dvh .9dvh 0.1dvh rgb(1, 146, 91),
  inset .2dvh 0.15dvh 0.1dvh rgb(169, 253, 221); 
}








